.inner {
    margin-left: 26%;
}

.inner iframe {
    /*border-radius: 5px;*/
}

.inner .title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f6f6f6;
    width: 100%;
    height: 33px;
    padding-top: 10px;
    visibility: hidden;
}

.inner .title .titleTxt{
    margin-left: 34px;
    color: #000000;
}